<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="#" class="navbar-brand">Task</a>
    <button class="navbar-toggler" type="button" data-target="navbarItem">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarItem">
        <ul class="navbar-nav">
            <li class="nav-item active"><a routerLink="" class="nav-link">List</a></li>
            <li class="nav-item"><a routerLink="add-task" class="nav-link">Add</a></li>
            <li class="nav-item"><a routerLink="edit-task" class="nav-link">Edit</a></li>
        </ul>
    </div>
</nav>